@tailwind base;
@tailwind components;
@tailwind utilities;

.lucide {
    display: inline-block;
    vertical-align: middle;
    stroke-width: 2;
}

.modal-bg {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 15, 15, 0.5);
}
